@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html{
        @apply scroll-smooth;
    }
    body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'roboto', serif;
    }
}

@layer components{

    .titule-secondary{
        @apply font-semibold text-2xl tracking-wider uppercase;
    }

    .bg-body{
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,2,51,1) 50%, rgba(0,0,0,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,2,51,1) 50%, rgba(0,0,0,1) 100%);
        background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,2,51,1) 50%, rgba(0,0,0,1) 100%);
    }
    

    /* HEADER*/
    .header {
        @apply flex justify-between items-center w-full h-20 px-12 relative;
    }
    
    .bg-header-fixed {
        background: linear-gradient(360deg,#000000c6 10%, #05011bfa 50%, #000000f1);
        background: -webkit-linear-gradient(360deg,#000000c6 10%, #05011bfa 50%, #000000f1);
        background: -moz-linear-gradient(360deg,#000000c6 10%, #05011bfa 50%, #000000f1);
    }
  

    .header-fixed {
        @apply  fixed bg-header-fixed top-0 ;
    }

    .under-line-nav{
        @apply inline-block text-xl transition-all duration-300 hover:text-[#ffffff] relative after:-bottom-0.5 after:left-0 after:absolute after:w-0 after:h-0.5 after:bg-[#ffffff] after:ease-[cubic-bezier(0.25,0.8,0.25,1)] after:duration-500 after:transition-[width,left] hover:after:w-full hover:after:left-0
    }


    /* REDES SOCIALES*/
    .social-network {
        @apply relative w-14 h-14 rounded-[60px] cursor-pointer flex justify-center items-center shadow-[0_5px_12px_#A5C5E9] transition-all duration-500 social-network-hover social-network-before social-network-hover-before social-network-after;
    }
    .social-network-hover{
      @apply  hover:w-[10rem] hover:shadow-[0_10px_25px_rgba(0,0,0,0)] ;
    }
    .social-network-before{
        @apply before:absolute before:inset-1 before:rounded-[50px] before:gradient-social-networt before:opacity-0 before:transition-all before:duration-500 ;
    }

    .gradient-social-networt{
        background: linear-gradient(45deg, var(--i), var(--j));
    }

    .social-network-hover-before{
        @apply hover:before:opacity-100;
    }
    .social-network-after{
        @apply after:absolute after:top-[10px] after:w-full after:h-full after:rounded-[60px] after:gradient-social-networt after:opacity-0 after:transition-all after:duration-500 after:-z-[1] after:filter after:blur-[15px] hover:after:opacity-50 ;
    }

    .social-network-icon{
        @apply text-[#A5C5E9] text-3xl transition-all delay-200 group-hover:scale-0 group-hover:text-4xl group-hover:delay-200;
    }

    .social-network-span{
        @apply  absolute text-[#ffffff] text-lg uppercase scale-0 transition-all duration-500 delay-0 group-hover:scale-100 group-hover:delay-200;
    }


    /*SECTION ABOUT*/

    .skills{
        @apply relative grid place-items-center w-36 h-36;
    }
    .base{
        @apply 
        w-full h-full 
        rounded-[50%] 
        border-4 
        border-[var(--color)] 
        border-l-8 
        border-l-transparent
        animate-skills
        after:absolute
        after:w-[25px]
        after:h-[25px]
        after:top-2
        after:left-2
        after:rounded-[50%]
        after:bg-[var(--color)]
        ;
    }
    
    .base,
    .title,
    .icon{
        @apply absolute cursor-pointer;
    }



    .title{
        @apply uppercase text-xl font-bold tracking-[2px] pointer-events-auto drop-shadow-[0_0_2px_var(--color)] animate-wave;
    }

    .level{
        @apply absolute uppercase text-xl font-bold tracking-[2px] pointer-events-auto transition-all duration-500 ease-in-out rotate-level animate-wave;
    }

    .icon{
        @apply grid place-items-center text-[50px] h-full pointer-events-none;
    }

    .base{
        @apply drop-shadow-[0_0_10px_var(--color)];
    }
     
    .base + .title + .icon  {
        @apply rotate-base-title-icon text-[var(--color)] drop-shadow-[0_0_3px_var(--color)] animate-wave;
    }

    .rotate-base-title-icon{
        transform: rotateY(30deg) skewY(-24deg) translateY(-130px);
    }

    .base + .title {
        @apply rotate-base-icon;
    }
    .rotate-base-icon{
        transform: rotateY(30deg) skewY(-24deg) translateY(-70px);
    }

    .rotate-level{
        transform: rotateY(30deg) skewY(-24deg) translateY(80px) ;
    }

                 /*--------SECTION PORFOLIO----------------*/


     .card{
        @apply overflow-visible w-[432px] h-[288px];
     }            

     .content{
        @apply w-full h-full transform-card transition-transform duration-500 shadow-[0_0px_10px_1px_#000000ee] rounded-md;
     }

     .transform-card{
        transform-style:preserve-3d;
     }

     .front, .back{
        @apply  absolute  w-full h-full backface-hidden rounded-md overflow-hidden;
     }

     .backface-hidden{
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;        
        -ms-backface-visibility: hidden;
     }

     .back{
        @apply w-full h-full flex justify-center items-center overflow-hidden 
        before:absolute  before:block before:w-[160px] before:h-[190%]  before:bg-[#A5C5E9] before:animate-spin before:animate-rotation; 
     } 

     .back-content{
        @apply absolute w-[98%] h-[98%] bg-[#151515] text-white rounded-md flex flex-col justify-center items-center gap-[30px];
     }

   

     .rotate-card{
        transform: rotateY(180deg);
     }

     .front{
        @apply rotate-card text-white;
     }

     .front .front-content {
        @apply absolute w-full h-full flex flex-col justify-between;
     }

     .description{
        @apply  w-full h-full rounded-md p-5 bg-[#070229b7] ;
     }
    .title-card{
        @apply w-full h-full rounded-md p-5 bg-[#070229b7] flex items-center justify-center;
    }
     .btn-card{
        @apply w-full h-full bg-body rounded-xl text-[#A5C5E9] border-[1px]  border-white text-center pt-2 transition-all duration-300 hover:scale-105;
     }
}

